@charset "utf-8";
.mui-input-row label {
	width: 35%;
	padding: 11px 0 11px 15px;
	line-height: 39px;
}
.mui-icon{
	line-height: 2;
}
.mui-input-row label~input,
.mui-input-row label~select,
.mui-input-row label~textarea {
	width: 65%;
	padding: 11px 0 11px 15px;
	height: 39px;
}

.mui-input-group .mui-input-row {
	height: 60px;
	text-align: center;
}
.btn{
	width: 40%;
	text-align: center;
	margin-top: 40px;
	margin-left: 8%;
	margin-right: 2%;
	border-radius: 4px;
	line-height: 25px;
	background: #5FB878;
	color: white;
	
}
.btn_{
	width: 40%;
	text-align: center;
	margin-top: 40px;
	margin-left: 2%;
	border-radius: 4px;
	line-height: 25px;
	background: #5FB878;
	color: white;
}