<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>报警条件选择</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/common.css" />
		<link rel="stylesheet" href="../../css/element.css">
		<link rel="stylesheet" type="text/css" href="../css/alarm/search_factor.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.picker.min.css" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.poppicker.css" />
	</head>

	<body>
		<header class="mui-bar mui-bar-nav header-blue">
			<a class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">报警条件选择</h1>
		</header>
		<div id="app">
			<form class="mui-input-group">
				<div class="mui-input-row ulMain" >
					<label>企业名称</label>
					<!-- <span class="mui-icon mui-pull-right mui-icon-bars mui-pull-center" id="companyname" style="padding-top: 10px; width: 20%;" ></span> -->
					<!-- <input type="text" id="searchEnprise" style="height: 60px;  width: 45%;" v-model="compamy" placeholder="请选择企业名称"> -->
					 <el-autocomplete v-model="compamy" style="top: 0.625rem;" :fetch-suggestions="querySearchAsync" placeholder="请选择" @select="handleSelect"></el-autocomplete>
				</div>
				<div class="mui-input-row">
					<label>报警开始日期</label>
					<span class="mui-icon mui-pull-right mui-icon-list mui-pull-center" id="pickdata" style="padding-top: 10px; width: 20%;" ></span>
					<input type="text" style="height: 60px; width: 45%;" v-model="date" disabled="disabled" placeholder="请选择报警日期">

				</div>
				<div class="mui-input-row">
					<label>报警结束日期</label>
					<span class="mui-icon mui-pull-right mui-icon-list mui-pull-center" id="endpickdata" style="padding-top: 10px; width: 20%;"></span>
					<input type="text" style="height: 60px; width: 45%;" v-model="enddate" disabled="disabled" placeholder="请选择报警日期">
				
				</div>
				<div class="mui-input-row" id="alarm_type">
					<label>报警类型</label>
					<span class="mui-icon mui-pull-right mui-icon-bars mui-pull-center" id="alarm_type" style="padding-top: 10px; width: 20%;" ></span>
					<input type="text" style="height: 60px;width: 45%;" v-model="alarm_type" disabled="disabled" placeholder="请选择报警类型">
				</div>
				<div class="mui-input-row" id="currentStatus">
					<label>审批状态</label>
					<span class="mui-icon mui-pull-right mui-icon-bars mui-pull-center" id="currentStatus" style="padding-top: 10px; width: 20%;" ></span>
					<input type="text" style="height: 60px;width: 45%;" v-model="currentText" disabled="disabled" placeholder="请选择审批状态">
				</div>
				
			</form>
			<div class="flex">
				<button type="button" class="mui-btn btn" id="search" @click="search()">搜索</button>
				<button type="button" class="mui-btn  btn_" id="clear">清空</button>
			</div>

		</div>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/vue.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/element.js"></script>
		<script src="../../js/common.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.picker.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.poppicker.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init({
				swipeBack: false, //启用右滑关闭功能,
				keyEventBind: {
					backbutton: true //关闭back按键监听
				},
				beforeback: function() {
					var ws= plus.webview.currentWebview();
					plus.webview.close(ws)
				}
			})
			var app = new Vue({
				el: "#app",
				data: {
					date: '',
					alarm_type: "",
					// 审批状态
					currentStatus:"",
					currentText:"",
					compamy:"",
					alarmType_list:[],
					company_list:[],
					enddate:"",
					pickcompanylist:[],
					cnames:""
				},
				watch:{
				
				},
				methods:{
					search:function(){
						if(app.alarm_type == "" && app.date == "" && app.compamy == "" && app.enddate == "" && app.currentStatus==""){
							mui.toast('请输入搜索条件')
						}else{
							getconmpany();
						}
					},
					  // 企业远程搜索框
					querySearchAsync(queryString, callback) {
					    var list = [{}];
					  	mui.ajax(JTURL + 'environmental_intelligent_monitoring/tbasenterprise/list?limit=10000',{
					  	data:{
					  		userId: localStorage.getItem("userId"),
							name: queryString,
					  	},
					  	dataType:'json',//服务器返回json格式数据
					  	type:'post',//HTTP请求类型
					  	timeout:10000,//超时时间设置为10秒；
					  	success:function(res){
					        if (res.code == 0) {
					            var datalist = res.page.list;
					           /* for (let i = 0, len = datalist.length; i < len; i++) {
					                for (let j = i + 1; j < len; j++) {
					                    if (datalist[i].enterpriseId == datalist[j].enterpriseId) {
					                        datalist.splice(j, 1);
					                        // splice 会改变数组长度，所以要将数组长度 len 和下标 j 减一
					                        len--;
					                        j--;
					                    }
					                }
					            } */
					            // // console.log(datalist)
					            for (let i of datalist) {
					                i.value = i.name; //将想要展示的数据作为value
					                // // console.log(i.value)
					            }
					            list = datalist;
					            callback(list);
					        } else {
					
					        }
					    }
					})
					},
					handleSelect(item) {
					    // console.log(JSON.stringify(item));
					    app.compamy = item.name;
					}
				}
			})

			mui.plusReady(function() {
				init();
				initType(); 
				btn_type();
				// getcompanylist();
			})
			//报警日期
			function init() {
				var pickdata = document.getElementById("pickdata");
				var endpickdata = document.getElementById("endpickdata");
				// var d = new Date();
				var now = new Date();
				var year = now.getFullYear(); //得到年份
				var month = now.getMonth() + 1 < 10 ? "0" + (now.getMonth() + 1) : (now.getMonth() + 1); //得到月份
				var date = now.getDate() < 10 ? "0" + now.getDate() : now.getDate(); //得到日期		
				app.date = year + '-' + month + '-' + date;
				app.enddate = year + '-' + month + '-' + date;
				/* if (d.getDate() < 9) {
					app.date = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + "0" + d.getDate();
				} else {
					app.date = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
				}
				if (d.getDate() < 9) {
					 app.enddate = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + "0" + d.getDate();
				} else {
					 app.enddate = d.getFullYear() + "-" + (d.getMonth() + 1) + "-" + d.getDate();
				} */
				pickdata.addEventListener("tap", function() {
					plus.nativeUI.pickDate(function(e) {
						var now = e.date;
						var year = now.getFullYear(); //得到年份
						var month = now.getMonth() + 1 < 10 ? "0" + (now.getMonth() + 1) : (now.getMonth() + 1); //得到月份
						var date = now.getDate() < 10 ? "0" + now.getDate() : now.getDate(); //得到日期		
						app.date = year + '-' + month + '-' + date;
					}, function(e) {

					});
				})
				endpickdata.addEventListener("tap", function() {
					plus.nativeUI.pickDate(function(e) {
						var now = e.date;
						var year = now.getFullYear(); //得到年份
						var month = now.getMonth() + 1 < 10 ? "0" + (now.getMonth() + 1) : (now.getMonth() + 1); //得到月份
						var date = now.getDate() < 10 ? "0" + now.getDate() : now.getDate(); //得到日期		
						app.enddate = year + '-' + month + '-' + date;
					}, function(e) {
				
					});
				})
			}

			
			//报警类型
			function initType() {
				mui.ajax(JTURL + 'environmental_intelligent_monitoring/twarnsubscribe/queryEventTypeDictionary',{
					data:{
						userId:localStorage.getItem("userId")
					},
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(res){
						// console.log(JSON.stringify(res));
						if(res.code == 0){
							for(var i = 0;i<res.data.length;i++){
								var obj ={};
								obj.text = res.data[i].eventType;
								obj.value = res.data[i].eventTypeId;
								app.alarmType_list.push(obj);
							}
						}else{
							mui.toast(res.msg);
						}
						
					},
					error:function(xhr,type,errorThrown){
						
					}
				});
				var alarm_type = document.getElementById("alarm_type");
				alarm_type.addEventListener("tap", function() {
					var picker = new mui.PopPicker();
					picker.setData(
						app.alarmType_list
					);
					picker.show(function(selectItems) {
						app.alarm_type = selectItems[0].text; //智子 
						// console.log(selectItems[0].text);
					})
				}, {
					passive: false
				})
			}
			
			// 审批状态
			var currentStatus = document.getElementById("currentStatus");
			currentStatus.addEventListener("tap", function() {
				var picker = new mui.PopPicker();
				picker.setData(
					[
						{value:'0',text:'未处理'},
						{value:'1',text:'已处理未申报'},
						{value:'2',text:'已申报未审核'},
						{value:'3',text:'审核通过'},
						{value:'4',text:'审核未通过'},
						{value:'5',text:'已处理（不需要申报）'},
					]
				);
				picker.show(function(selectItems) {
					// console.log(JSON.stringify(selectItems))
					app.currentText = selectItems[0].text; 
					app.currentStatus = selectItems[0].value;
				})
			}, {
				passive: false
			})
			
			function btn_type(){
				var clear = document.getElementById("clear");
				clear.addEventListener("tap",function(){
					app.date = "";
					app.alarm_type = "";
					app.compamy = "";
					app.enddate = "";
					app.currentStatus = "";
				},{passive:false})
			}
			
			
			function getconmpany() {
				var alarm = plus.webview.getWebviewById("alarm");
				mui.fire(alarm, 'get_data',{
					name:app.compamy,
					date:app.date,
					type:app.alarm_type,
					end:app.enddate,
					currentStatus:app.currentStatus
				});
				mui.back();
			}
			
			/*function getcompanylist(){
				mui.ajax(JTURL + 'environmental_intelligent_monitoring/tbasenterprise/list?limit=10000',{
					data:{
						userId: localStorage.getItem("userId")
					},
					dataType:'json',//服务器返回json格式数据
					type:'post',//HTTP请求类型
					timeout:10000,//超时时间设置为10秒；
					success:function(res){
						if(res.code == 0){
							for(var i=0;i<res.page.list.length;i++){
								var obj ={};
								obj.text = res.page.list[i].name;
								// obj.value = res.data[i].eventTypeId;
								app.pickcompanylist.push(obj);
							}
						}
					},
					error:function(xhr,type,errorThrown){
						
					}
				});
				
			
				 var companyname = document.getElementById("companyname");
				companyname.addEventListener("tap", function() {
					var picker = new mui.PopPicker();
					picker.setData(
						app.pickcompanylist
					);
					picker.show(function(selectItems) {
						app.compamy = selectItems[0].text; //智子 
						console.log(app.compamy);
					})
				}, {
					passive: false
				}) 
			}*/
			/* document.getElementById("searchEnprise").addEventListener('focus',function() {
				getcompanylist();
			}) */
			
			
		</script>
	</body>

</html>