@charset "utf-8";
.name {
	width: 100%;
	line-height: 50px;
	background: gainsboro;
	text-align: center;
}

.bar {
	width: 90%;
	margin-left: 5%;
	margin-top: 10px;
	border: 1px solid gainsboro;
}

.makepollution {
	background: rgb(193, 222, 194);
	line-height: 30px;
}

.deco {
	width: 6px;
	line-height: 30px;
	margin: 6px 4px;
	background: green;
}

.num {
	font-size: 22px;
	color: green;
}

.monitor {
	margin: 6px 10px;
	font-size: 16px;
}

.mui-icon {
	line-height: 15px;
	font-size: 12px;
	margin-top: 6px;
	margin-right: 50px; 
	margin-bottom: 10px;
	color: gray;
}
.item {
	/* height: 40px; */
	justify-content: space-between;
}
.item p{
	font-size: 14px;
	margin: 10px 0px 0px 20px;
}
.mui-checkbox input[type=checkbox], .mui-radio input[type=radio]{
	right: 8px;
}